%h1 MovieRama
%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do

   = label :movie, :title, 'Title:'
   %p
   = text_field :movie, 'title'
   %p
   = label :movie, :text, 'Description:'
   %p
   = text_area :movie, 'text', :rows=>5, :cols=>80
   %p
   = submit_tag 'Save Changes'

%p   
= link_to 'Back to Index', movies_path