#sorts
   Sort by (most):
   = link_to 'Recent', movies_path(:sort => 'date_added')
   = " | "
   = link_to 'Likes', movies_path(:sort => 'like')
   = " | "
   = link_to 'Hates', movies_path(:sort => 'hate')
   = " || "
   = link_to 'Reset', movies_path(:reset => true)
#movies-list
   - @movies.each do |movie|
      = render 'movie_partial', :movie => movie

= link_to 'New Movie', new_movie_path
