%table#sort_by
   %tr#sort_by
      %td Sort by (most):
      %td= link_to 'Recent', movies_path(:sort => 'date_added')
      %td |
      %td= link_to 'Likes', movies_path(:sort => 'likes')
      %td |
      %td= link_to 'Hates', movies_path(:sort => 'hates')
      %td ||
      %td= link_to 'Reset', movies_path
%li
%li
%table
   %tr
   - @movies.each do |movie|
      %tr
         = render 'movie_partial', :movie => movie
         %li= "___"
         %li
= link_to 'New Movie', new_movie_path
