%table
   %tr
      %td Sort by:
      %td= link_to 'Most Recent', movies_path(:sort => 'date_added')
      %td |
      %td= link_to 'Likes', movies_path(:sort => 'likes')
      %td |
      %td= link_to 'Hates', movies_path(:sort => 'hates')

%table{:style => 'width: 100%;'}
   %tr
   - @movies.each do |movie|
      %p
         %tr= link_to movie.title, movie_path(movie)
         %p
         %tr= "Posted by TODO add uploader, "
         %tr= " " << time_ago_in_words(movie.created_at) << " ago"
         %p
         %tr= movie.text
         
= link_to 'New Movie', new_movie_path
