%table
   %tr
      %td Sort by:
      %td= link_to 'Most Recent', movies_path(:sort => 'date_added')
      %td |
      %td= link_to 'Likes', movies_path(:sort => 'likes')
      %td |
      %td= link_to 'Hates', movies_path(:sort => 'hates')

%table{:style => 'width: 100%;'}
   %tr
   - @movies.each do |movie|
      %p
         %tr= link_to movie.title, movie_path(movie)
         %p
         %tr
         - if movie.user_id
            = "Posted by "
            = link_to movie.user.name, movies_path(:user => movie.user.id)
         - else
            = "Posted by unknown"
         %tr= " " << time_ago_in_words(movie.created_at) << " ago"
         %p
         %tr= movie.text
         %p= "This movie has #{movie.likes_count} likes | #{movie.hates_count} hates"
         - if current_user && User.find(current_user.id)
            = form_tag movie_votes_path(movie) do
               = hidden_field_tag :choice => "like"
               = hidden_field_tag :user_id => current_user.id
               = submit_tag 'Like'
         - if current_user && User.find(current_user.id)
            - if Vote.find_by(user_id: current_user.id, movie_id :movie.id).exists?
               - =link_to "Unvote", movie_vote_path( :movie_id => movie.id, :id => movie.User.find_by_id(current_user.id).votes.id), :method => :delete
               -#= link_to "Unvote", movie_vote_path( :movie_id => movie.id, :id => vote.id), :method => :delete
         = link_to 'Like', movie_votes_path( :movie_id => movie.id, :choice => :like ), :method => :post
         = " | "
         = link_to 'Hate', movie_votes_path( :movie_id => movie.id, :choice => :hate ), :method => :post
      %p= "___"
         
= link_to 'New Movie', new_movie_path
