%h2 Details about #{@movie.title}

%p
%h3 Description:

%p#description= @movie.text

= link_to 'Edit Movie', edit_movie_path(@movie)
%td ||
= link_to 'Delete Movie', movie_path(@movie), :method => :delete
%td ||
= link_to 'Back to Index', movies_path